img{
    width:20%;
    height: 250px;
}

h1{
    color:red;
    
}

body{
    /* align-items: center;
    margin: 0;
    height: 100vh;
    background-color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Muli",sans-serif; */

    align-items: center;
    justify-content: center;
    text-align: center;
    

}